body {
  background-color: #ffe4c487;
  font-family: "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}
h1 {
  background-color: #4750ffc9;
  font-size: 48px;
  margin: 60px 0;
}
h2 {
  background-color: #9947ffc9;
  font-size: 30px;
}
h1,
h2 {
  border: 3px solid #000080;
  border-radius: 16px;
  color: #ffe4c4;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 0;
}

th,
td {
  padding: 12px 6px;
  background-color: #ffe4c4;
  border-right: 2px solid #000080;
  border-top: 2px solid #000080;
  border-radius: 16px;
}
th {
  background-color: #ff6347;
  color: #ffe4c4;
  padding: 10px;
  font-size: 18px;
}

table {
  background-color: #f88484;
  border: 3px solid #000080;
  border-radius: 10px;
  color: #000080;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  padding: 10px;
  max-width: 900px;
}

p {
  color: #000080;
}
a {
  color: #0051ff;
}
.tag-or-attribute {
  font-family: monospace;
}
